<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Inventory Report</title>
</head>
<body>
    <h1>Inventory Report</h1>
    <ul>
        {% for item in items %}
            <li>UPC: {{ item.upc }} - {{ item.units }} units - ${{ item.price }} 
                - <a href="{{ item.url }}" target="_blank">Product Link</a>
                - Image: <img src="{{ item.images }}" alt="Image of {{ item.upc }}" height="100">
            </li>
        {% endfor %}
    </ul>
</body>
</html>
